<?xml version="1.0"?>
<launch>
	<!--arg name="data" default="pointcloud"/-->
	<arg name="data" default="depthimage"/>
	
	<arg name="teleop_keyboard_enable" default="false"/>
	<group if="$(arg teleop_keyboard_enable)">
		<node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>
	</group>

	<include file="$(find navigation)/launch/kinect/kinect_transform_to_laserscan/$(arg data)_to_laserscan.launch"/><!--point-->

	<include file="$(find navigation)/launch/kinect/move_base.launch"/>
	<include file="$(find navigation)/launch/kinect/slam_gmapping.launch"/>
	<node pkg="tf" type="static_transform_publisher" name="camera_combined_broadcaster" args="0 0 0.23 0 0 0 /base_footprint /camera_link 50" />	
	<!--node name="map_server" pkg="map_server" type="map_server"/-->  
	<!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_nav)/maps/$(arg map).yaml"/>   -->
	
</launch>
