

<!-- 这里一开始是把所有都启动了，这样其实并不好，所以我把这改成只启动底盘和IMU就好。 -->

<launch>

  <!-- startup mobilebase arduino launch -->
	<!-- 开启arduino与ROS之间的通信启动底盘控制 -->
  <include file="$(find ros_arduino_python)/launch/arduino.launch" />
	
	<include file="$(find robo_bringup)/launch/robot_pose_ekf.launch" />

	<!-- transform between /odom and /odom_combined -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="odom_combined_broadcaster" args="0 0 0 0 0 0 /odom /odom_combined 100" /> -->

  <!-- startup convert /odom_combined to /odom_ekf can view in rviz-->
  <include file="$(find robo_bringup)/launch/odom_ekf.launch"/>
	<!--node pkg="tf" type="static_transform_publisher" name="odom_combined_broadcaster" args="0 0 0 0 0 0 /odom /odom_combined 100" /-->
	<!-- 让小车平滑速度进行移动，通过的是 yocs_velocity_smoother 这个包 -->
	<arg name="node_name"             value="velocity_smoother"/>
	<arg name="nodelet_manager_name"  value="nodelet_manager"/>
	<!-- 配置文件的修改 -->
	<arg name="config_file"           value="$(find robo_bringup)/config/yocs_velocity_smoother.yaml"/>
	<arg name="raw_cmd_vel_topic"     value="cmd_vel"/>
	<arg name="smooth_cmd_vel_topic"  value="smoother_cmd_vel"/>
	<arg name="robot_cmd_vel_topic"   value="robot_cmd_vel"/>
	<arg name="odom_topic"            value="odom"/>
	  
	<!-- nodelet manager -->
	<node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>
	  
	<!-- velocity smoother -->
	<include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
		<arg name="node_name"             value="$(arg node_name)"/>
		<arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
		<arg name="config_file"           value="$(arg config_file)"/>
		<arg name="raw_cmd_vel_topic"     value="$(arg raw_cmd_vel_topic)"/>
		<arg name="smooth_cmd_vel_topic"  value="$(arg smooth_cmd_vel_topic)"/>
		<arg name="robot_cmd_vel_topic"   value="$(arg robot_cmd_vel_topic)"/>
		<arg name="odom_topic"            value="$(arg odom_topic)"/>
	</include>

</launch>

